body {
    margin:0;
    display:grid;
    grid-template-rows:1fr 5fr;
    grid-template-columns: 1fr 5fr;
}

p, h1, h2, h3{
    font-family:'Roboto', sans-serif;
    margin:0;
}

p{
    color:#64748b;
}

h1{
    font-size:1.5rem;
    font-weight:600;
}

h2{
    font-size:1.2rem;
    font-weight:600;
}

h3{
    font-size:1rem;
    font-weight:600;

}

ul{
    list-style-type:none;
}

.profile-pic-large{
    border-radius:50%;
    width:75px;
    height:75px;
}

.profile-pic-small{
    border-radius:50%;
    width:50px;
    height:50px;
}



/*Sidebar*/

#sidebar{
    grid-row-start:1;
    grid-row-end:5;
    background-color:#0ea5e9;
    display:grid;
    grid-template-rows:auto auto 1fr;
    color:#fff;
    row-gap:20px;
}

#logo {
    display:flex;
    justify-content:flex-start;
    margin-top:50px;
    padding: 0 50px 0 40px;
    gap:10px;
}

#sidebar .icon-small {
    filter: invert(100%) sepia(41%) saturate(1229%) hue-rotate(194deg) brightness(113%) contrast(98%);
}

#sidebar li{
    display:flex;
    gap:10px;
    align-items:center;
    margin-bottom:10px;
}


/*Header*/

#header{
    grid-column-start:2;
    grid-column-end:3;
    background-color:#fff;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows:1fr 2fr;
    padding:15px 40px 15px 40px;
    row-gap:15px;
}

#search{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:10px;
}

#searchbar{
    background-color:#cbd5e1;
    width: 80%;
    height:20px;
    border-radius:15px;
}

#welcome{
    display:grid;
    grid-template-columns:auto 1fr;
    grid-template-rows: auto 1fr;
    column-gap:15px;
    row-gap:10px;
}

#greeting{
    padding-top:10px;
}

#username{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    
}

#profile{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:10px;
}

#buttons{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:10px;
}

button{
    background-color: #0ea5e9;
    height:30px;
    border: 0px;
    border-radius:15px;
    padding:10px 30px 10px 30px;
    color: #fff;
    font-weight:600;
    font-size:1rem;
    display:flex;
    align-items:center;
}

button:hover{
    filter:drop-shadow(0px 2px 2px #94a3b8)
}

#profile-pic{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end:3;

}

/*Main*/

#main-content{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;
    background-color:#cbd5e1;
    display:grid;
    grid-template-columns: 3fr 1fr;
    column-gap:20px;
    padding:30px;
}

/*Your Projects*/

#cards-container{
    grid-column-start:1;
    grid-column-end:2;
    display:grid;
    grid-template-rows:auto 1fr;
    grid-row-gap:15px;
}

#cards{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,250px);
    column-gap:10px;
    row-gap:30px;

}

.card{
    background-color:white;
    width:400px;
    height:250px;
    border-radius:10px;
    display:grid;
    grid-template-columns:10px 1fr;
    grid-template-rows: 1fr auto;
    filter:drop-shadow(0px 5px 3px #94a3b8)
}

.card-content{
    margin:30px 10px;
}

/*Announcements*/

#announcements-trending-container{
    display:grid;
    grid-template-rows:repeat(2,1fr);
    row-gap:30px;
}


#announcements-container{
    display:grid;
    grid-template-rows:auto 1fr;
    row-gap:15px;
}

#announcements{
    background-color:white;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    filter:drop-shadow(0px 5px 3px #94a3b8);
    padding:10px 40px;
}
.announcement{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}

.announcement-border{
    width:100%;
    border-bottom:1px solid #64748b;

}

/*Trending*/

#trending-container{
    display:grid;
    grid-template-rows:auto 1fr;
    row-gap:15px;
}

#trending{
    background-color:white;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:flex-start;
    filter:drop-shadow(0px 5px 3px #94a3b8);
    padding: 0px 30px;
    height:400px;

}

.trending-item{
    display:grid;
    grid-template-columns:auto 1fr;
    column-gap:10px;
}


.trending-item-profile-pic{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:3;
}

.trending-item-user-description{
    display:flex;
    flex-direction:column;
}



.side-stripe{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:3;
    background-color:goldenrod;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
}

.card-content{
    padding:15px;
}

.card-icons{
    display:flex;
    justify-content:flex-end;
    padding:0px 15px 15px 0px;
}

.icon-small{
    height:30px;
    width:30px;
}